body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    background-color: black;
    font-family: 'VT323', monospace;
    height: 100vh;
    margin: 0;
}

#game-board {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
}

.scores {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}

#score {
    color: #659b14;
}

#highScore {
    color: #adff2f;
    display: none;
}

#score,
#highScore {
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
}

.game-border-1 {
    border: #3f610b 10px solid;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #3f610b;
}

.game-border-2 {
    border: #1bbf42 8px solid;
    border-radius: 26px;
    box-shadow: inset 0 0 0 10px #1bbf42;
}

.game-border-3 {
    border: #adff2f 30px solid;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1px #adff2f;
    background-color: #a8b450;
}

#instruction-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #adff2f;
    width: 200px;
    text-align: center;
    text-transform: capitalize;
    padding: 50px;
    margin: 0;
}
.snake{
    background-color: #00d150;
    border: #adff2f 2px solid;
    border-radius: 1px;
}
.food{
    background-color: #d10023;
    border: #ef00cf 2px solid;
    border-radius: 1px;
}